<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Ebs 新詢問</title>
	</head>
	<body>	
<section class="hgroup">
      <h2>詢問內容及資料</h2>
    </section>
    <!--hgroup-->
    <section>

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
          <tr>
            <th>姓名：</th>
            <td><%= @contact.name %></td>
          </tr>
          
              
          <tr>
            <th>連絡電話：</th>
            <td><%= @contact.phone %></td>
          </tr>
          <tr>
          
            <th>Email：</th>
            <td><%= @contact.email %></td>
          </tr>
                    <tr>
            <th>學習目的：</th>
            <td><%= @contact.purpose.join(",") %></td>
          </tr>

                    <tr>
          	<th>課程諮詢：</th>
          	<td><%= @contact.consultcourse.join(",") %></td>
          </tr>

         <tr>
          <th>地址：</th>
            <td>
            <% if !@contact.address.blank? %>
            		<%= @contact.address %>
        		<% else %>
        			(未填寫)
    			<% end %>
			</td>
          </tr>
                     <tr>
          <th>留言：</th>
            <td>
            <% if !@contact.purposedetail.blank? %>
            		<%= simple_format(@contact.purposedetail) %>
        		<% else %>
        			(未填寫)
    			<% end %>
			</td>
          </tr>
        </table>
    </section>      
    <!--text-->   
  </body>
</html>
