<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/jquery.imgareaselect.pack.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />
<!-- 桌面版選單 -->
    <div class="navbar navbar-inverse navbar-fixed-top hidden-xs">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_url %>"><img src="/images/logo.gif"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%= root_url %>">回首頁</a></li>
            <li><a href="<%= testimonials_path %>">回目錄</a></li>
          </ul>
        </div>
      </div>
    </div>
<!-- 行動版選單 -->
    <div class="navbar navbar-inverse navbar-fixed-top visible-xs">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="/images/logo_xs.gif" width="64px" height="62px"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%= root_url %>">回首頁</a></li>
            <li><a href="<%= testimonials_path %>">回目錄</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="note_wrapper">
    	<div class="container">

    		<div class="col-md-10 col-md-offset-1 col-xs-12">
    			<h1>ebs 師生證言</h1>
    		</div>
    		<div class="col-md-10 col-md-offset-1 col-xs-12 notepaper">
	    		<!-- 1 -->
	    		<div class="notebox">
							<div class="notephoto hidden-xs">
								<div><%= image_tag(@review.cover, :class=> "studentphoto1") %></div>
							</div>
							<div class="notetxt">
									<div class="notetitle"><span><%= @review.name %> / <%= @review.course %></span><br><%= @review.title %></div>
							</div>
					</div>

    			<div class="col-xs-12">
						<p class="writings"  id="articleContent"/>
	    		</div>
	    		
	    		<div class="col-xs-6 text-center">
	    			<a href="<%= testimonials_path %>" class="homelink"><img src="/images/back1.jpg" width="62px" height="91px"></a>
	    		</div>
	    		<div class="col-xs-6 text-center">
	    		<a href="<%= root_url %>" class="homelink"><img src="/images/home1.jpg" width="62px" height="91px"></a>
	    		</div>
    		</div>

    	</div>
    </div>
    
<input id="article_content" style="display:none;" type="text" value="<%= @review.article.content %>">

<script>
	$(document).ready(function() {	
		editor.output();	
	});
</script>
<script>
$(document).ready(function(){
 detectWidth(); 
 $(window).resize(function(){
  detectWidth();
 }); 
 function detectWidth(){
  if($(window).width() <= 768 && $('.visible-xs').length){
   $('.visible-xs').attr('style','display: block !important');
   $('.hidden-xs').attr('style','display: none !important');
  }
  else{
   $('.hidden-xs').attr('style','display: block !important');
   $('.visible-xs').attr('style','display: none !important');
  }
 }
})
</script>