<script src="/js/editor.js"></script>
<script src="/js/editor_p.js"></script>
<script src="/js/editor_img.js"></script>
<script src="/js/editor_list.js"></script>
<script src="/js/editor_video.js"></script>
<script src="/js/jquery.imgareaselect.pack.js"></script>

<link rel="stylesheet" type="text/css" href="/css/imgareaselect-default.css" />

<%= render :partial => "layouts/frontmenu" %>    

    <div class="note_wrapper">
    	<div class="container">

    		<div class="col-md-10 col-md-offset-1 col-xs-12">
    			<h1>ebs 學生證言 - 目錄</h1>
    		</div>
    		<div class="col-md-10 col-md-offset-1 col-xs-12 notepaper">
    			<!-- 1 -->
    			<div class="notebox">
    				<div class="notephoto hidden-xs">
    					<div><%= image_tag(@review.cover, :class=> "studentphoto1") %></div>
    					<div class="sname"><%= @review.name %></div>
    				</div>
    				<div class="notetxt">
    					<div class="notetitle"><%= @review.title %></div>
    				</div>
    			</div>
    			<div class="col-xs-12">
						<p class="writings"  id="articleContent"/>
	    		</div>
	    		
	    		<div class="col-xs-6 text-center">
	    			<a href="<%= reviews_path %>" class="homelink"><img src="/images/back1.jpg" width="62px" height="91px"></a>
	    		</div>
	    		<div class="col-xs-6 text-center">
	    		<a href="<%= root_url %>" class="homelink"><img src="/images/home1.jpg" width="62px" height="91px"></a>
	    		</div>
    		</div>

    	</div>
    </div>
    
<input id="article_content" style="display:none;" type="text" value="<%= @review.article.content %>">

<script>
	$(document).ready(function() {	
		editor.output();	
	});
</script>