<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<!-- 通過為viewport meta標籤添加user-scalable=no可以禁用其縮放（zooming）功能。 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<meta name="Robots" content="index,follow"/>
	<meta http-equiv="content-language" content="zh-TW" />
	<meta name="keywords" content="學英文,英文學習,英語學習,英文家教,英文補習班,英文教學,線上學英文,學習英文,英文補習班推薦,英語教學,美語補習班,英文口說,一對一英文"/>
	<meta name="description" content=" ebs 英語中心，設計從學習者出發的目的式英文教學法，先幫你找到「學習目的」，再「量身訂做」教學計劃，顛覆一般標準化、老師作主的英文課，以學生為核心，學你關心的事，學你人生或工作的目標，學你想要的英文，幫助你的英文一輩子都能進步，連絡電話：02-23616368"/>
	<meta property="og:title" content=" ebs目的式英語教學法，將志向、興趣、英文熔為一體"/>
	<meta property="og:description" content=" ebs 英語中心，設計從學習者出發的目的式英文教學法，先幫你找到「學習目的」，再「量身訂做」教學計劃，顛覆一般標準化、老師作主的英文課，以學生為核心，學你關心的事，學你人生或工作的目標，學你想要的英文，幫助你的英文一輩子都能進步。"/>
	<meta property="og:site_name" content="立刻聯絡ebs：02-23616368"/>
	<meta property="og:type" content="website"/>
	

    <link rel="SHORTCUT ICON" href="/images/favicon.ico"/>
	<link rel="image_src" href="http://www.ebs-education.com/images/thumb.jpg"/>
	<meta property="og:image" content="http://www.ebs-education.com/images/thumb.jpg"/> 
	
	<meta name="DC.Rights" content="ebs"/>
	<meta name="DC.Date" content="2014-4-27"/>

<title>ebs目的式英語教學法，將志向、興趣、英文熔為一體</title>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
		<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
	  <script>
  	window.onload= function() {
	  <% if !flash[:notice].nil? %>
	   alertify['success']('<%= flash[:notice] %>', 3000);
	  <% end %>
	  
	  <% if !flash[:warning].nil? %>
	  alertify['error']("<%= flash[:warning].html_safe %>", 3000); 
	  <% end %>

		$('a').click(function() {
			if( window.location.toString().match(/page=\d+/) ) { 
				document.cookie = ( 'last_page_num=' + window.location.toString().match(/page=\d+/)[0].split('=')[1] + ';' );

			}
		})
		
		$(window).bind('peditor-updated', function() {
			
			var main = $('section article');
			
			if ( (main.innerHeight() + 100) > $('[_height=auto]').height() ) {
				$('[_height=auto]').height('inherit');
			} else {
				fullHeight();
			}
			
		});
		
	}

  </script>
</head>

<body>
			<%= yield %>
<!--main-->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
